body {
  background-color: #c5cae9;
  margin: 0px;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 0px;
  font-family: sans-serif;
}

body a {
  font-family: sans-serif;
  color: black;
}

body #Main {
  background-color: white;
  position: relative;
  padding: 25px;
  min-height: 100vh;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.15);
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

body header#Banner {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

body img {
  max-width: 100%;
  height: auto;
}

body .the_category ul {
  display: inline;
  list-style: none;
  padding: 0px;
}

body .the_category ul li {
  display: inline-block;
  font-size: 1rem;
}

body .the_category ul li a {
  color: orange;
  text-decoration: none;
}

body .the_category ul li a:hover {
  text-decoration: underline;
}

body .lead {
  font-size: 1.7rem;
  font-weight: bold;
}

body #Menu {
  background-color: #f6bcd4;
  display: -webkit-box;
  display: flex;
}

body #Menu .menu-item a {
  font-family: monospace;
  font-weight: bold;
  color: white;
  padding: 15px;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  border: 1px solid #fd3355;
  text-decoration: none;
}

body #Menu .menu-item a:hover {
  background-color: #fd3355;
}

body #Menu .level .menu-item {
  background-color: red;
}

body .post {
  background-color: #eeeeee;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 75px;
  display: grid;
  grid-template-columns: auto 1fr;
}

body .post:first-child {
  margin-top: 75px;
}

body .post img {
  max-width: 250px;
}

body .post .post-right {
  padding: 5px;
}

body .post .post-right .post-infos {
  text-align: right;
}

body .post h2 {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
}

body .post h2 a {
  color: black;
}

body .post .read-next {
  background-color: #ff7300;
  color: white;
  display: inline-block;
  font-family: monospace;
  margin-top: 50px;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

body .post-full {
  border: 1px dashed violet;
}

body .post-full .post-full-infos {
  background-color: black;
  color: white;
  padding: 15px;
  text-align: right;
}

body .pagination {
  text-align: center;
  padding: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

body .pagination .page-numbers {
  background-color: #e7e7e7;
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 5px;
  font-family: monospace;
}

body .pagination .page-numbers.current {
  background-color: black;
  color: white;
}

body .category-template-header {
  background-color: #ebb3df;
  text-align: center;
  color: white;
  padding: 50px;
}

body .category-template-header .the_category ul {
  display: block;
}

body .category-template-header .the_category ul li {
  font-size: 2rem;
}

body .category-template-header .the_category ul li a {
  color: white;
  text-decoration: none;
}

body .category-template-header .the_category ul li a:hover {
  text-decoration: underline;
}

body form input,
body form textarea {
  display: block;
  min-height: 35px;
  padding: 3px;
  border: 0px;
}

body form label {
  font-weight: bold;
}

body form input[type=checkbox] {
  display: inline;
  min-height: auto;
}

body form input[type=submit] {
  background-color: black;
  padding: 15px;
  color: white;
  border: 0px;
  font-family: monospace;
}

body .comments {
  margin-top: 75px;
  background-color: #68c8ff;
  padding: 25px;
}

body .comments .comment-respond {
  color: white;
  background-color: #0093e8;
  padding: 15px;
}

body .comments .single-comment {
  border-radius: 5px;
  padding: 15px;
  background-color: white;
  width: 75%;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 25px;
}

body .comments .single-comment .single-comment-infos {
  font-size: 0.9rem;
  text-align: right;
  font-style: italic;
}

body .search-form {
  background-color: #bbb7df;
  padding: 75px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

body #searchResultsCount {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px;
  width: 50%;
  margin-right: 0px;
  margin-left: auto;
  background-color: white;
  border-radius: 50px;
  text-align: right;
  box-shadow: 5px 3px 5px 0px rgba(0, 0, 0, 0.15);
}

body #searchResults {
  background-color: #dcdaef;
  padding: 75px;
}

body #searchResults .single-search-result {
  padding: 25px;
  box-shadow: 5px 3px 5px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
  margin-top: 25px;
}

body #searchResults .single-search-result .single-search-result-functions {
  text-align: right;
}

body #searchResults .single-search-result .single-search-result-functions a.single-search-result-btn {
  font-size: 0.8rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 2px;
  display: inline-block;
  font-family: monospace;
  text-decoration: none;
}

body #Footer {
  background-color: #333333;
  color: white;
  min-height: 300px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

body #Footer .subsection-title {
  padding: 15px;
  border-bottom: 5px solid white;
  margin-bottom: 15px;
  text-align: center;
  font-family: monospace;
  letter-spacing: 2px;
  text-transform: uppercase;
}

body #Footer a {
  color: white;
}

body #Footer a.category-link {
  display: block;
}

body #Services {
  background-color: pink;
  min-height: 300px;
  padding: 10px;
}

body #Services .inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

body #Services .item {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

body #Services .item h2 {
  color: pink;
  text-align: center;
}

body #thePage {
  background-color: white;
  box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.15);
  padding: 15px;
  min-height: 100vh;
}

body .search-icon-link {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 75px;
  height: 75px;
  background-color: #0c1549;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

body #Categories {
  background-color: #e2e2e2;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: monospace;
}

body #Categories ul li a {
  font-family: monospace;
}

