@import './variables.scss';
body{
    background-color:#c5cae9;
    margin:0px;


    h1,h2,h3,h4,h5,h6{
        margin:0px;
        font-family: sans-serif;
    }

    a{
        font-family: sans-serif;
        color:black;
    }

    #Main{
        background-color:white;
        padding:25px;
        min-height:100vh;
        box-shadow:5px 5px 10px 0px rgba(0,0,0,0.15);
        width:75%;
        margin-left:auto;
        margin-right:auto;
    }

    

    header#Banner{
        display:flex;
        align-items: center;
        // justify-content: center;
    }

    img{
        max-width:100%;
        height:auto;
    }

    .the_category{
        ul{
            display:inline;
            list-style:none;
            padding:0px;
            li{
                display:inline-block;
                font-size:1rem;
                a{
                    color:orange;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    @import '404.scss';
    @import 'menu.scss';
    @import 'post.scss';
    @import 'pagination.scss';
    @import 'category.scss';
    @import 'comments.scss';

    #Categories{
        background-color:#e2e2e2;
        padding:10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        font-family: monospace;
        ul li a{
            font-family: monospace;
        }
    }

    #Footer{
        background-color:#333333;
        color:white;
        min-height:300px;
        padding:10px;
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-gap:15px;
        //column-count: 3;
        .subsection-title{
            padding:15px;
            border-bottom:5px solid white;
            margin-bottom:15px;
            text-align: center;
            font-family: monospace;
            letter-spacing:2px;
            text-transform: uppercase;
        }
        a{
            color:white;
        }
        a.category-link{
            display:block;
        }
    }

}

//Il met peut-être beaucoup de temps à compiler ceci à chaque fois...
//@import './materialize/sass/materialize.scss';

