.category-template-header{
    background-color:rgb(235, 179, 223);
    text-align: center;
    color:white;
    padding:50px;


    .the_category{
        ul{
            display:block;
            li{
                font-size:2rem;
                a{
                    color:white;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }

}