#Menu{
    background-color:rgb(246, 188, 212);
    
    display:flex;
    
    .menu-item{  
        a{
            font-family: monospace;
            font-weight: bold;
            color:white;
            padding:15px;
            text-align: center;
            display:flex;
            align-items: center;
            justify-content: center;
            border:1px solid #fd3355;
            text-decoration: none;
            &:hover{
                background-color:#fd3355;
            }
        }
    }
    .level{
        .menu-item{
            background-color:red;
        }
    }
}