.pagination{
    text-align:center;
    padding:20px;
    display:flex;
    align-items: center;
    justify-content: center;
    .page-numbers{
        background-color:#e7e7e7;
        text-decoration: none;
        color:black;
        display:flex;
        width:25px;
        height:25px;
        border-radius:50%;
        align-items: center;
        justify-content: center;
        margin:5px;
        font-family: monospace;
        &.current{
            background-color:black;
            color:white;
        }
    }
}